@import 'utils';

.button{
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    color:#fff;
    cursor:pointer;
    user-select: none;
    display: inline-flex;

    // default: 파란색 버튼
    &.default{
        background: $oc-blue-6;
        &:hover{
            background: $oc-blue-5;
        }
        &:active{
            background: $oc-blue-6;
        }
    }

    // gray : 회색 버튼
    &.gray{
        background: $oc-gray-7;
        &:hover{
            background: $oc-gray-6;
        }
        &:active{
            background: $oc-gray-7;
        }
    }

    // outline : 흰색 테두리 버튼
    &.outline{
        border:2px solid #fff;
        border-radius: 2px;
        &:hover{
            background: #fff;
            color:$oc-blue-6;
        }
        &:active{
            background: rgba(255,255,255,0.85);
            border:2px solid rgba(255,255,255,0.85);
        }
    }

    &:hover{
        @include material-shadow(2,0.5);
    }

    &.disabled{
        background: $oc-gray-4;
        color:$oc-gray-6;
        cursor:default;
        &:hover,&:active{
            box-shadow: none;
            background: $oc-gray-4;
        }
    }

    & + & {
        margin-left: 0.5rem;
    }
}