@import 'utils';

.pagenation{
    margin-top: 2rem;

    display: flex;
    align-items: center;

    .number{
        font-size: 0.85rem;
        text-align:center;
        color:$oc-gray-6;
        flex:1; // 남은 공간을 다 차지
    }
}